:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 25lh;
    font-family: system-ui;
    container-type: inline-size;
}
.cm-editor {
    height: 100%;
}
bottom-editorarea {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr auto;
    gap: 0.5em;
    flex: 1;
    min-height: 0;
    margin-bottom: 0.4em;
}
bottom-code {
    background-color: white;
    border: 1px #d4d4d4 solid;
    border-radius: 0.5em;
    overflow: hidden;
}
@container (min-width: 768px) {
    bottom-editorarea {
        grid-template-columns: 2fr auto 1fr;
        grid-template-rows: 1fr;
    }
    bottom-editor-output {
        grid-column: 3/4;
    }
    bottom-editor-buttons {
        grid-row: 1/2;
        grid-column: 2/3;
    }
}
