:host {
    display: block;
    overflow: hidden;
    background: white;
    border: 1px #d4d4d4 solid;
    border-radius: 0.5em;
}
canvas {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
}
